.header {
  background-color:  snow;
  text-align: center;
  padding: 20px;
}

body{
    font-family: Arial;
    margin: 15;
}

.navigation {
    overflow : hidden;
    background-color: burlywood;
}

.navigation a {
    float : left;
    display: block;
    color : antiquewhite;
    text-align: center;
    padding : 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color:bisque;
    color : black
}

.header h3 {
    text-align: center;
}

.Rechercher{
    border : 1px;
    width : 80%;
    margin: 0 auto;
    text-align: center;
}


#table {
    width: 80% ;
    margin: 0 auto;
    border-bottom-width: inherit white;
    border: white;
    text-align: right;
   letter-spacing: 1px;
}


#table_id {
    width: 800px;
    position: relative; 
}




.liste_ecoles {
    position: relative;
    height: 300px;
    margin: auto;
    width: 70%;
    padding: 30px 20px;
    display: inline-block;


}
#etudes{
    text-align: justify;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
.liste_rechercher{
    position:  relative;
    background-color: floralwhite;
    border : 1px;
    display: inline-block;
    margin : 0 30px 30px 0;
    width : 300px;
    text-align: center;
    margin-top: 20px;
    
}

.liste_rechercher h3{
    text-align: center;
}

.liste_rechercher h4{
    text-align: justify;
}

.liste_rechercher ul{
    text-align: left;
}


#barre_recherche1{
    display: inline-block;
    margin : 0 auto;
    width: 75%;
    text-align: center;
}

.liste_rechercher barre_recherche2{
    width: 75%;
    text-align: center;
    float:left;
}

#domaine{
    width: 30%;
}



.liste_etablissement{
    list-style-type: none;
}

.nom_etablissement{
    list-style-type: none;
}


#choix_etablissement{
    text-align: justify;
}

#mapid {
    position : absolute;
    height: 500px;
    margin: auto;
    width: 70%;
    padding : 20px 16px;
    display: inline-block;

}

.mapid_formation{
    position : relative!important;
    float: right;
    width: 60%!important;
    height: 500px!important;
}

select{
    width: 200px;
}

div #liste_rechercher{
    float:left;
    width:100px;
    height:400px;
}

div #liste_rechercher{
    float:left;
    width:100px;
    height:400px;
    display: inline-block;

}

div #first_bloc{
    width:600px;
    height:400px;
    display: inline-block;
}

.liste_ecoles_etab table, .liste_ecoles_etab h1{
    margin : 0 auto;
    text-align: center;

}
